.header {
  margin: auto;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto auto;
  min-height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
  max-width: 1200px; }

.logo__img {
  display: block; }

.nav__list {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-column-gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end; }

.nav__link {
  white-space: nowrap;
  display: block;
  padding: 15px 10px;
  margin-left: -10px;
  margin-right: -10px;
  line-height: 30px;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  position: relative; }
  .nav__link:hover {
    color: #00acdc; }
  .nav__link.is-active {
    color: #00acdc; }
    .nav__link.is-active:before {
      content: "";
      left: 10px;
      background: #00acdc;
      border-radius: 8px;
      width: calc(100% - 20px);
      display: block;
      position: absolute;
      height: 4px;
      bottom: 0; }

.card {
  padding: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  max-width: 200px; }
  .card__img {
    margin: 14px auto 45px;
    height: auto;
    max-width: 160px;
    display: block; }
  .card__title {
    font-size: 12px;
    line-height: 1.35;
    font-weight: 500;
    color: #000;
    margin-bottom: 6px; }
  .card__code {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 16px;
    margin-top: 0; }
  .card:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .stars__star {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/star.svg);
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 4px; }

.stars--1 .stars__star:nth-child(-n + 1) {
  background-image: url(../images/star-active.svg); }

.stars--2 .stars__star:nth-child(-n + 2) {
  background-image: url(../images/star-active.svg); }

.stars--3 .stars__star:nth-child(-n + 3) {
  background-image: url(../images/star-active.svg); }

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg); }

.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url(../images/star-active.svg); }

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 20px; }
  .review__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .review__info {
    font-size: 11px;
    line-height: 15px; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  line-height: 19px; }
  .price__title {
    font-size: 11px; }
  .price__value {
    font-weight: bold;
    font-size: 16px; }

.btn {
  background: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 9px 15px;
  text-transform: uppercase;
  -webkit-transition: background 0.3s ease-in, color  0.3s ease-in;
  transition: background 0.3s ease-in, color  0.3s ease-in;
  font-weight: 500;
  text-align: center; }
  .btn:hover {
    background: transparent;
    color: #00acdc; }

.main {
  display: grid;
  max-width: 944px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 50px 48px; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
